[submodule "leaflet_storage/static/leaflet"]
	path = leaflet_storage/static/leaflet
	url = git://github.com/Leaflet/Leaflet.git
[submodule "leaflet_storage/static/hash"]
	path = leaflet_storage/static/hash
	url = git://github.com/mlevans/leaflet-hash.git
[submodule "leaflet_storage/static/storage"]
	path = leaflet_storage/static/storage
	url = git://github.com/yohanboniface/Leaflet.Storage.git
[submodule "leaflet_storage/static/draw"]
	path = leaflet_storage/static/draw
	url = git://github.com/Leaflet/Leaflet.draw.git
[submodule "leaflet_storage/static/edit_in_osm"]
	path = leaflet_storage/static/edit_in_osm
	url = git://github.com/yohanboniface/Leaflet.EditInOSM.git
[submodule "leaflet_storage/static/minimap"]
	path = leaflet_storage/static/minimap
	url = git://github.com/Norkart/Leaflet-MiniMap.git
[submodule "leaflet_storage/static/i18n"]
	path = leaflet_storage/static/i18n
	url = git://github.com/yohanboniface/Leaflet.i18n.git
[submodule "leaflet_storage/static/csv2geojson"]
	path = leaflet_storage/static/csv2geojson
	url = https://github.com/mapbox/csv2geojson.git
[submodule "leaflet_storage/static/togeojson"]
	path = leaflet_storage/static/togeojson
	url = https://github.com/mapbox/togeojson.git
[submodule "leaflet_storage/static/osmtogeojson"]
	path = leaflet_storage/static/osmtogeojson
	url = https://github.com/aaronlidman/osm-and-geojson.git
[submodule "leaflet_storage/static/loading"]
	path = leaflet_storage/static/loading
	url = https://github.com/ebrelsford/Leaflet.loading.git
[submodule "leaflet_storage/static/contextmenu"]
	path = leaflet_storage/static/contextmenu
	url = https://github.com/aratcliffe/Leaflet.contextmenu.git
[submodule "leaflet_storage/static/markercluster"]
	path = leaflet_storage/static/markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster.git
[submodule "leaflet_storage/static/measure"]
	path = leaflet_storage/static/measure
	url = https://github.com/makinacorpus/Leaflet.MeasureControl.git
