<script src="{{ STATIC_URL }}leaflet/dist/leaflet-src.js"></script>
<script src="{{ STATIC_URL }}draw/dist/leaflet.draw-src.js"></script>
<script src="{{ STATIC_URL }}hash/leaflet-hash.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.chickpea.events.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.simplexhr.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.lazygeojson.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.chickpea.icon.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.chickpea.features.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.chickpea.layer.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.chickpea.controls.js"></script>
<script src="{{ STATIC_URL }}chickpea/src/js/leaflet.chickpea.js"></script>
