    <div id="map_{{ map.pk }}" class="map_fragment"></div>
    <script type="text/javascript">
        map_fragment_settings = {
            "storage_id": {{ map.pk }},
            "center": {{ map.center.geojson|safe }},
            "zoom": {{ map.zoom }},
            "tilelayers": [{{ tilelayer|safe }}],
            "categories": {{ categories|safe }},
            "urls": {{ urls|safe }},
            "default_icon_url": "{{ STATIC_URL }}storage/src/img/marker.png",
            "allowEdit": false,
            'hash': false,
            'attributionControl': false,
            'scrollWheelZoom': false,
            'embedControl': false,
            'layersControl': false,
            'zoomControl': false,
            'storageAttributionControl': false
        }
        new L.Storage.Map("map_{{ map.pk }}", map_fragment_settings);
    </script>
