{% load i18n %}
<h5>{% trans "Delete" %} <em>{{ category }}</em>?</h5>
{% if category.features %}
    <p>{% blocktrans with category_count=category.features|length %}This will also delete all the {{ category_count }} feature(s) of this category.{% endblocktrans %}</p>
{% endif %}
<form method="post" action="{{ action }}" id="category_delete" onsubmit="return false;">
    {% csrf_token %}
    <input type="hidden" name="confirm" value="yes" />
    <input type="submit" value="{% trans 'yes' %}" class="button" />
</form>