<script src="{{ STATIC_URL }}leaflet/dist/leaflet-src.js"></script>
<script src="{{ STATIC_URL }}draw/dist/leaflet.draw-src.js"></script>
<script src="{{ STATIC_URL }}hash/leaflet-hash.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.core.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.xhr.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.forms.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.lazygeojson.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.icon.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.features.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.layer.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.controls.js"></script>
<script src="{{ STATIC_URL }}storage/src/js/leaflet.storage.js"></script>
