<h4>{{ map.name }}</h4>
<p>{% firstof map.description "No caption yet." %}</p>
{% for category in map.category_set.all %}
    <p><strong>{{ category }}</strong> {{ category.description }}</p>
{% endfor %}
<hr />
<h5>User content credits</h5>
<p>Map user content has been published under licence {{ map.licence }}</p>
<h5>Tile layers credits</h5>
<div>
    {% for tilelayer in map.tilelayers.all %}
        <p><strong>{{ tilelayer.name }}</strong> {{ tilelayer.attribution|safe }}</p>
    {% endfor %}
</div>
<div>Powered by <a href="http://leafletjs.com">Leaflet</a> and <a href="https://www.djangoproject.com">Django</a>, glued by <a href="#">u{Map} project</a>.</div>