{% load i18n %}
<h4>{{ map.name }}</h4>
<p>{% firstof map.description "No caption yet." %}</p>
{% for datalayer in map.datalayer_set.all %}
    <p><span class="datalayer_color" {% if datalayer.options.color %}style="background-color: {{ datalayer.options.color }};"{% endif %}></span><strong>{{ datalayer }}</strong> {{ datalayer.description }}</p>
{% endfor %}
<hr />
<h5>{% trans "User content credits" %}</h5>
<p>{% blocktrans with licence=map.licence url=map.licence.details %}Map user content has been published under licence <a href="{{ url }}">{{ licence }}</a>{% endblocktrans %}</p>
<h5>{% trans "Tile layers credits" %}</h5>
<div>
    <p><strong>{{ map.tilelayer.name }}</strong> {{ map.tilelayer.attribution|safe }}</p>
</div>
<div>{% blocktrans with leaflet_url="http://leafletjs.com" django_url="https://www.djangoproject.com" umap_url="http://wiki.openstreetmap.org/wiki/UMap" %}Powered by <a href="{{ leaflet_url }}">Leaflet</a> and <a href="{{ django_url }}">Django</a>, glued by <a href="{{ umap_url }}">uMap project</a>.{% endblocktrans %}</div>