{% load i18n %}
<h4>{{ map.name }}</h4>
<p>{% firstof map.description "No caption yet." %}</p>
{% for category in map.category_set.all %}
    <p><span class="category_color" style="background-color: {{ category.color }};"></span><strong>{{ category }}</strong> {{ category.description }}</p>
{% endfor %}
<hr />
<h5>{% trans "User content credits" %}</h5>
<p>{% blocktrans with licence=map.licence %}Map user content has been published under licence {{ licence }}{% endblocktrans %}</p>
<h5>{% trans "Tile layers credits" %}</h5>
<div>
    {% for tilelayer in map.tilelayers.all %}
        <p><strong>{{ tilelayer.name }}</strong> {{ tilelayer.attribution|safe }}</p>
    {% endfor %}
</div>
<div>{% blocktrans with leaflet_url="http://leafletjs.com" django_url="https://www.djangoproject.com" umap_url="#" %}Powered by <a href="{{ leaflet_url }}">Leaflet</a> and <a href="{{ django_url }}">Django</a>, glued by <a href="{{ umap_url }}">u{Map} project</a>.{% endblocktrans %}</div>