{% load i18n %}
<form action="." method="post">
    {{ form }}
    <input type="submit" />
    {% if not map and not user.is_authenticated %}
    <small class="helptext">{% trans 'You are creating a map without being authenticated. A cookie will be set on this browser to make possible for you to edit the map in the future. If you want to edit the map from another computer, use the "edit url" displayed in the "permissions" window. If you log in and load the map, the map will be attached to your account.' %}</small>
    {% endif %}
    {% if clone_url and map %}
        <a href="{{ clone_url }}" id="clone_map_button" >{% trans "Clone this map" %}</a>
    {% endif %}
    {% if delete_url and map and user == map.owner %}
        <a href="{{ delete_url }}" id="delete_map_button" >{% trans "Delete" %}</a>
    {% endif %}
</form>