{% load i18n %}
<h5>{% trans "Delete" %} <em>«{{ map }}»</em>?</h5>
{% if map.datalayer_set.all %}
    <p>{% blocktrans with datalayer_count=map.datalayer_set.all|length %}This will also delete the {{ datalayer_count }} layer(s) of this map and all their features.{% endblocktrans %}</p>
{% endif %}
    <p><strong>{% trans "This action can't be cancelled." %}</strong></p>
<form method="post" action="{{ action_url }}" id="map_delete" onsubmit="return false;">
    {% csrf_token %}
    <input type="hidden" name="confirm" value="yes" />
    <input type="submit" value="{% trans 'yes' %}" class="button" />
</form>